/* ///////////////////////////////////////////////////////////////// */
/* ///////////////////////////// 1200px /////////////////////////// */
@media (max-width: 75em) {
  html {
    font-size: 55%;
  }
  .hero--text-name {
    font-size: 8.1rem;
  }
}
/* ///////////////////////////////////////////////////////////////// */
/* ///////////////////////////// 1008px /////////////////////////// */
@media (max-width: 63em) {
  html {
    font-size: 48%;
  }
  /* .hero--text-name {
    font-size: 7rem;
  } */
  .personality-info:not(:last-child) {
    padding-right: 0.6rem;
  }
}
/* ///////////////////////////////////////////////////////////////// */
/* ///////////////////////////// 864px /////////////////////////// */
@media (max-width: 54em) {
  html {
    font-size: 42%;
  }

  .id-tag {
    margin-bottom: 4.4rem;
  }
  .blink {
    font-size: 5.6rem;
  }

  .hero--text-tag {
    font-size: 3.2rem;
  }
  .hero--text-name {
    margin-bottom: 6.4rem;
    /* font-size: 10rem; */
    font-weight: 500;
  }
  .hero--text-interdution {
    padding: 4.8rem;
    font-size: 3rem;
  }

  .hero-btn,
  .cta-btn {
    padding: 1.8rem 2.6rem;

    font-size: 3.2rem;
    font-weight: 500;
  }
  .cta-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    animation: moveInRightBtn 0.7s;
    transition: all 0.3s ease;

    background: rgba(255, 255, 255, 0.1);
    box-shadow:
      0 1rem 4rem rgba(0, 0, 0, 0.15),
      inset 0 0.1rem 0 rgba(255, 255, 255, 0.6),
      inset 0 -0.1rem 0 rgba(255, 255, 255, 0.15),
      inset 0 0 0.5rem 0.3rem rgba(255, 255, 255, 0.25);
  }
  .contant-about {
    grid-template-rows: 4fr 2fr 2fr;
    grid-template-columns: 2fr 2fr 2fr;
  }

  .about--samerise-box {
    grid-row: 2/4;
  }

  .about-text-box {
    grid-column: 1/-1;
  }

  .samerise-box-title {
    font-size: 3.6rem;
    grid-row: 1/2;
  }
  .samerise-box-info {
    font-size: 3.8rem;
    grid-row: 2/-1;
    white-space: wrap;
  }
  .about--personality-info {
    grid-row: 1/2;
    grid-column: 1/-1;
  }
  .personality-info {
    font-size: 2.8rem;
  }
  .about--personality {
    grid-row: 2/4;
    grid-column: 2/4;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .contant-skills {
    grid-template-columns: 1fr;
  }
  .frontend-skills {
    border-bottom: 1px solid; /* ضخامت دلخواه */
    border-image: linear-gradient(
        to right,
        #f8f9fa,
        rgba(0, 0, 0, 0.6),
        #f8f9fa
      )
      1;
    margin-bottom: 1.8rem;
  }
  .backend-skills {
    border-left: none;
  }
  .project-title {
    font-size: 3.4rem;
  }
  /* //////////////////////////////////// */
  .skill-icon {
    width: 6.8rem;
    height: 6.8rem;
  }

  .skill-name {
    font-size: 2.2rem;
  }
  .progress-box,
  .progress {
    height: 2.2rem;
  }

  .bar .skill-persent {
    font-size: 2.2rem;
    padding: 1rem 2.2rem;
  }
  .skills-title {
    font-size: 5rem;
  }
  /* /////////////////////////////////////////// */
  .sticky .header {
    position: fixed;
    /* top: 4.8rem; */
    bottom: 4rem;
    z-index: 999;
  }
  .sticky .nav-box {
    /* padding: 5rem 16rem; */
    height: 100%;
    width: 100%;
    margin: 0;
  }
  .sticky .head--nav-link {
    font-size: 3.2rem;
    background-color: rgba(198, 0, 0, 0.05);

    color: #000;
    font-weight: 900;
    padding: 0.6rem 1rem;
  }
  .sticky .id-box {
    display: none;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  .sticky .nav--cta-btn {
    background-color: rgba(255, 255, 255, 0.25);
  }
}
/* ///////////////////////////////////////////////////////////////// */
/* ///////////////////////////// 654px ///////////////////////////*/
@media (max-width: 41em) {
  html {
    /* font-size: 32%; */
  }
  .contant-hero {
    text-align: center;
  }
  .id-tag {
    margin-bottom: 5.5rem;
  }

  .contant-about {
    grid-template-rows: 5fr 7fr 3fr;
    grid-template-columns: 2fr 2fr;
    margin-bottom: 2.2rem;
    padding: 3.2rem;
  }

  .about--samerise-box {
    grid-row: 2/3;
    grid-column: 1/-1;
  }

  .about-text-box {
    grid-column: 1/-1;
  }

  .samerise-box-title {
    font-size: 3.6rem;
    grid-row: 1/2;
  }
  .samerise-box-info {
    font-size: 3.8rem;
    grid-row: 2/-1;
    white-space: wrap;
  }
  .about--personality-info {
    grid-row: 1/2;
    grid-column: 1/-1;
    gap: 0.8rem;
  }
  .personality-info {
    font-size: 2.8rem;
  }
  .about--personality {
    grid-row: 3/4;
    grid-column: 1/-1;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 6fr 4fr;
  }
  .contant-skills {
    grid-template-columns: 1fr;
  }

  .contact-form {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 3fr 1fr;
    column-gap: 1.6rem;
    row-gap: 1.6rem;
  }
  .message-box {
    grid-row: 4 /5;
    grid-column: 1 / -1;
  }
  .medialinks {
    grid-row: 5 /6;
    grid-column: 1 / 2;
  }
  .send-box {
    grid-row: 5/6;
    grid-column: 2 / 3;
  }
  .input-box {
    grid-column: 1 / -1;
  }
  label {
    font-size: 2.2rem;
    margin-bottom: 1.2rem;
  }
  .copyright {
    font-size: 1.8rem;
  }

  /* nav */

  .sticky .head--nav-link {
    font-size: 2.6rem;
    background-color: rgba(198, 0, 0, 0.05);
    padding: 0.4rem 1rem;
  }
  .sticky .nav-box {
    gap: 1rem;
    padding: 1.2rem 2rem;
  }
}
/* ///////////////////////////////////////////////////////////////// */
/* ///////////////////////////// 512px /////////////////////////// */
@media (max-width: 33em) {
  html {
    font-size: 38%;
  }
  .hero--text-name {
    font-size: 7.4rem;
  }
  .hero--text-interdution {
    padding: 2rem;
    font-size: 2.6rem;
  }
}
/* ///////////////////////////////////////////////////////////////// */
/* ///////////////////////////// 432 /////////////////////////// */
@media (max-width: 27em) {
  html {
    font-size: 32%;
  }
  .nav-box {
    gap: 0.6rem;
  }
  .head--nav-link {
    font-size: 2rem;
    padding: 0.6rem;
  }
}
